<!-- TODO: Must be auxiliary route -->

<div mat-dialog-title id="dialog-header">
  <span>Forgot your password?</span>
  <div id="icn-close-container" (click)="onCloseCancel()">
    <i class="fal fa-times-hexagon icn__general"></i>
  </div>
</div>
<div id="pre" *ngIf="!forgotPasswordReqSent">
  <div mat-dialog-content id="content-grid">
    <div id="description">
      Enter the email address you used to sign up and we'll send you a link to reset your password.
    </div>
    <div id="email-input">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onCloseConfirm()">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" type="email" formControlName="email">
          <mat-error>
            <app-error [control]="forgotPasswordForm.controls['email']"></app-error>
          </mat-error>
        </mat-form-field>
      </form>
      <div class="api-error" *ngIf="error">{{message}}</div>

    </div>
  </div>
  <div mat-dialog-actions id="dialog-actions">
    <button mat-raised-button (click)="onCloseConfirm()" color="primary" class="btn full-width">Continue</button>
  </div>
</div>

<div mat-dialog-content *ngIf="forgotPasswordReqSent" id="requestSentContainer">
  <div class="message">If a matching account was found an email was sent to {{forgotPasswordForm.value.email}} to allow you to reset your
    password.
  </div>
  <div class="redirect">If you don't recieve the email within a few minutes, please <a class="link__general" (click)="forgotPasswordReqSent = !forgotPasswordReqSent">try
    again</a></div>
</div>
