@import "~scss/__colours";
@import "~scss/__buttons";
@import "~scss/__base";
@import "~scss/__errors";

#dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icn__general {
    cursor: pointer;
  }
}

#content-grid {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto;
  overflow: hidden;
  #description {
    grid-row: 1/1;
  }
  #email-input {
    grid-row: 2/2;
  }
}

#dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#requestSentContainer {
  /* TODO: Find a way to get rid of min height here. */
  display: grid;
  grid-row-gap: 1.5rem;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto;
  min-height: 70px;
  .message {
    grid-row: 1/1;
  }
  .redirect {
    grid-row: 2/2;
    font-size: 0.8rem;
  }
}
