<div id="user-header-container">
  <div id="user-nav-container">
    <h1 id="user-heading">Settings</h1>
    <nav id="user-nav" mat-tab-nav-bar [disableRipple]="true">
      <a class="user-nav-link" mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
      >
        {{link.label}}
      </a>
    </nav>
  </div>
</div>

<div id="user-main-container">
  <router-outlet></router-outlet>
</div>

