$main__white: #FFFEFC;
$main__light_grey: #E2E3DF;
$main__dark_grey: #515B5E;
$main__black: #2E3233;
$main__orange: #DE7047;
$main__off_yellow: #FFDE8D;
$main__light_green: #CDDE47;
$main__dark_green: #528540;
$main__medium_green: #39a712;
$main__medium_green_fade: rgba(57, 167, 18, 0.1);
$general__link_blue: #0070c9;
